<h2><%= @course.title %></h2>

<%= link_to "editar", edit_course_path(id:@course.id) %> 

<%= link_to "eliminar", course_delete_path(id:@course.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %> 